DISCORD_TOKEN=MTUwOTUxMjE4ODUyNjU5MjAzMA.GD0yBZ.667qyKYpahjedSTSkiQu-2aJXSwGuN2wTR1jbY
WEBHOOK_URLS=https://discord.com/api/webhooks/1527302133647540375/rOPGxXERA4um2snMZxrGsKsPTJBAHAV5v1IWLfrQHBeq2giEKE38WTtYF2oYPl9JAdBD,https://discord.com/api/webhooks/1527302925917880320/LDHl_K_tSTmy449i4DdmhPTm0IoE_eigGvadjfA3qUgfBbeVeMz2cHh7eNc-xsBbaYYX,https://discord.com/api/webhooks/1527303476781125632/ONr-iDa_m0E2f_zQI8UQI9BeN4fK0KB4_2W8NwQWBwCFngKTlUitumXNg5WJZN0TWnav
